---
layout: default
title: Projects
---


<div id="projects">
  {% for project in site.data.projects %}
    <div class="project">
      <img src="{{project.image_path}}" alt="{{project.name}}-image" />
      <h2>{{ project.name }}</h2>
      <div class="tags">
      {% for tag in project.tags %}
        <span class="tag">{{ tag }}</span>
      {% endfor %}
      </div>
      <p>{{ project.description }}</p>
      <div class="links">
      <a href="{{ project.link }}">Visit Website</a>
      <a href="{{ project.github_link }}">View on Github</a>
      {% if project.etherscan_link %}
        <a href="{{ project.etherscan_link }}">View on Etherscan</a>
      {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

