<footer class="site-footer h-card py-5">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper container-md">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="row">
      <div class="footer-col col-lg-4 col-sm-12">
        <ul class="list-unstyled contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
              <br>
              Full Stack Web Devloper | San Diego, CA. 
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col col-lg-4 col-sm-12">
        {%- include social.html -%}
        <a href='resume.docx' >Download Kele's Resume</a>
      </div>

      <div class="footer-col col-lg-4 col-sm-12">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="assets/js/slick.min.js"></script>
<script type="text/javascript" src="assets/js/slider.js"></script>
<script type="text/javascript" src="assets/js/book-grid.js"></script>
<script type="text/javascript" src="assets/js/imagesLoaded.js"></script>
<script type="text/javascript" src="assets/js/isotope.js"></script>
