html,body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body{
  display: flex;
  flex-direction: row;
}

main{
  flex: 8;
  background-color: #ede7e1;
  min-height: 100vh;
  font-size: 1.2rem;
}

nav, main{
  padding: 1rem;
}

nav{
  width:100%;
  flex:2;
  background-color: #392e4a;
  color:white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  a{
    color: white;
    text-decoration: none;
  }  
  a.current{
    font-weight: bold;
    color: #f7df1e;
  }
  #nav-wrap{
    width:100%;
    #masthead{
      width:100%;
      border-bottom: 1px solid #b7f4d8;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      img{
        border-radius: 100%;
        border: 1px solid white;
      }
    }
  }
}


ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

#content-wrap{
  width: 80%;
  margin: 0 auto;
  #projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .project{
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-between;
      width: 40%;
      margin-bottom: 3rem;
      border: 1px solid #392e4a;
      padding: 1rem;
      border-radius: 5px;
      background-color: white;
      box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
      img{
        width: 100%;
        height: auto;
        border-radius: 5px;
      }
      h3{
        margin-top: 0;
      }
      p{
        margin-bottom: 0;
      }
      .links{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        a{
          border-radius: 5px;
          text-align: center;
          background-color: #392e4a;
          margin: .5rem;
          padding: .5rem;
          color: white;
          text-decoration: none;
          &:hover{
            color: #f7df1e;
          }
        } 
      }
    }
  }
}


